*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(20deg,#0A81FA,#FF81FA);
}

.container{
    width: 500px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.067);
    /* height: 600px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.weather_heading{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    color: #f2f2f2;
    letter-spacing: 10px;
}


/* Input Section(City_name) */

.input_city{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0;
}

#city_name{
    height: 50px;
    width: 80%;
    margin-right: 10px;
    padding: 0 20px;
    outline: none;
    border: none;
    border-radius: 50px;
    text-align: right;
    background: #f2f2f22e;
}

#city_name::placeholder{
    text-align: center;
    color: #f2f2f2;
}

.search_btn{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #f2f2f23e;
    cursor: pointer;
}

.search_btn img{
    width: 24px;
    height: 24px;
    filter: invert(100%);
}

.weather_situations{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    align-items: center;
    background: #abdafc3d;
    margin: 20px 0;
}


.weather_info{
    /* width: 400px; */
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_images{
    flex-basis: 30%;
}

.weather_images img{
    width: 150px;
    height: 150px;
}
.tempreture{
    flex-basis: 70%;
    margin-left: 20px;
    font-size: 60px;
    color: #fffbed;
}

.city_title{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 10px;
}

.handw{
    display: flex;
    justify-content: space-between;
}

.humidity_info, .wind_info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 50px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.137);
    border-radius: 10px;
    font-weight: 600;
    color: #f2f2f2;
    margin: 10px;
}

.wind_info img, .humidity_info img{
    width: 30px;
    height: 30px;
}

.wind_info div, .humidity_info div{
    text-align: center;
}

.wind_info p, .humidity_info p{
    /* text-align: center; */
    font-size: 15px;
}
.wind_info span, .humidity_info span{
    /* text-align: left; */
    font-size: 15px;
    font-weight: 300;
}

.min-cont{
    display: none;
    transition: all 0.5s;
}

.err_msg{
    text-transform: capitalize;
    color: #f2f2f2;
}